.poster {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0,.75);
  width: 100%;
}

.poster__top{
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.poster__top > form{
  
  display: flex;
  flex: 1;
}

.poster__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 1000px;
  background-color: #eff2f5;
}
.poster__top > form > button {
  display: none;
}

.poster__input{
  flex: 1;
}
@media (max-width: 1200px){
  .poster__top > form > button {
    display: visible;
  }
}
.poster__bottom {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.poster__option{
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.poster__option > h3{
  font-size: medium;
  margin-left: 10px;
  cursor:pointer;
}
.poster__option:hover{
  background-color:#eff2f5;
  border-radius: 20px;

}